body { 
  margin: 0;
  font-family: 'Varela Round', Helvetica, sans-serif;
  text-align: center;
  background-color: #e8fcff;
}

#navbar {
  background-color: #a3e6d2;
  padding: 5px;
  position: fixed;
  width: 100%;
  top: 0;
}

#homelink:link {
    color: #3299a8;
    text-decoration: none;
}

#homelink:visited {
    color: #3299a8;
}

#homelink:hover {
    color: #237682;
}



#navbar-space{
  margin: 110px;
}

.image {
    width: 20%;
}

.content {
    line-height: 1.8;
    color: #3299a8;
}

@media screen and (max-width: 1200px) {
  .image {
    width: 40%;
  }
}