body {
  font-family: 'Varela Round', Helvetica, sans-serif;
  text-align: center;
  background-image: url("img/pokemonBallsPattern.jpg");
}

h1 {
  color: red;
  font-size: 80px;
  background: white;
  margin: -10px;
  padding: 10px;
  border-bottom: solid 5px black;
  margin-bottom: 20px;
}

h3 {
  line-height: 1.6;
}

br {
  user-select: none;
}

#cited {
  margin-top: -6px;
  font-size: 15px;
  line-height: 20px;
}

#cited a:link {
  color: black;
}

#cited a:visited {
  color: black;
}

#cited a:hover {
  color: #965209;
}

.content {
  color: white;
  background: #965209;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
}

p {
  line-height: 30px;
}

.btn-back {
  outline-offset: 4px;
  padding: 0;
  margin-top: 25px;
  border: none;
  height: 40px;
  cursor: pointer;
  width: 250px;
  background: #c27b00;
  border-radius: 10px;
  user-select: none;
}

.btn-front {
  font-family: 'Varela Round', Helvetica, sans-serif;
  display: block;
  padding: 12px 0px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  background: #ffa01c;
  color: white;
  text-decoration: none;
  transform: translateY(-6px);
}

.btn-back:active .btn-front {
  transform: translateY(-2px);
}



.box-container {
  border-radius: 30px;
  width: 200px;
  height: 175px;
  margin-bottom: 10px;
  padding: 20px 0;
  margin-right: auto;
  margin-left: auto;
}

.box-container img {
  width: 80px;
  margin: -20px;
  height: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 30px 30px; /*height width*/
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 30%;
  max-width: 30%;
  height: 770px;
  margin: auto;
  align-items: center;
  align-content: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 2px #3d2000;
}



#search_bar {
  margin-left: auto;
  margin-right: auto;
  width: 515px;
  display: flex;
  align-items: stretch;
}

.search-input,
.search-btn {
  outline: 0;
  font-size: 20px;
  width: 80%;
  padding: 0 15px;
  border: none;
  user-select: none;
}

.search-input{
  height: 50px;
  width: 400px;
  color: black;
  border-style: solid;
  border-width: 5px;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.search-input::placeholder{
  color: gray;
}

.search-btn{
  margin-left: -5px;
  font-weight: bold;
  cursor: pointer;
  width: 115px;
  background: red;
  color: #fff;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.1s linear;
  border-style: solid;
  border-color: black;
  border-width: 5px;
}

.search-btn:active {
  background-color: white;
  color: red;
}

#char_card {
  width: 350px;
  height: 300px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  user-select: none;
}

#char_card img {
  width: 150px;
  margin: -35px;
  height: auto;
}

#fail {
  color: white;
  background-color: black;
  font-weight: bold;
  font-size: 20px;
  width: 265px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}





@media screen and (max-width: 950px) {
  .btn-back {
    width: 200px;
  }

  .btn-front {
    width: 200px;
  }
}

@media screen and (max-width: 780px) {
  .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  }

  .column {
    flex: 70%;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .btn-back {
    width: 250px;
  }

  .btn-front {
    width: 250px;
  }
}

@media screen and (max-width: 600px) {
  #search_bar {
  width: 350px;
  }

  .search-input{
  width: 200px;
  }
}